.gallery {
    flex-direction: column;
}

.gallery__content {
    max-height: 100Vh;
    padding: 20px 0 20px 0;
    width: 100%;
}

.gallery__image {
    max-height: 100%;
    max-width: 100%;
    vertical-align:text-bottom;
}