.thumbnail {
    display: inline-block;
    position: relative;
    text-align: center;
}

.thumbnail__image {
    display: block;
}

.thumbnail:hover {
    cursor: pointer;
    
    & .thumbnail__mask {
        opacity: .4;
    }

    & .thumbnail-menu {
        display: flex;
    }
}

.thumbnail__mask {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity .25s ease-in-out;
}

.thumbnail-menu {
    background: white;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    text-align: center;
    transform: translate(-50%, -50%);
}

.thumbnail__default-image--small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 300px;
    height: 200px;
}

.thumbnail__default-image--medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
}

.thumbnail__default-image--large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    width: 800px;
    height: 600px;
}