
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

@import "node_modules/bulma/css/bulma";

.flex-1 {
    flex: 1;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}